.aboutUs__section{
    background-color: #00AE8C;
    height: max-content;
    width: auto;
}

.aboutUs__section_heading h2{
    font-family: 'Copperplate Gothic Bold';
    font-weight: 400;
    line-height: 0.5vw;
    color: #FFF;
}

.aboutUs__section_heading{
    border-bottom: 2px solid #FFF;
    width: max-content;
    height: auto;
    margin: 5% auto 2%;
    padding: 0 1%;
    align-items: center;
}

.aboutUs__section_content{
    text-align: center;
    color: #FFF;
}

.aboutUs__section_content_text{
    margin: 2% 16%;
    text-align: center;
}

.aboutUs__section_content_text span{
    font-family: 'Aquire';
}

.aboutUs__section_content_img img{
    width: 70vw;
    height: auto;
    margin: 2% 10% 5% 10%;
}